    #logo{
        width: 15%;
    }

    h1{
        font-size: 400%;
        text-align: center;
    }    

    h2{
        font-size: 250%;
        text-decoration: underline;

    }   

    h4{
        font-size: 150%;

    }

    .botones{
        width: 30%;
    }
    
    #botfin{
        width: 20%;
    }

    p{
        font-size: 150%;
        text-align: justify;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style:italic;
    }

    
    .pag{
        font-family: Arial;
        font-size: 125%      
    }

    form{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 100%;
        width: 35%;
        background-color:lightgrey;
        text-align: center;
        margin: 0 auto;
        border-radius: 20px;
    }

    nav{
        margin: 0 auto;
        width:55%;
        border-radius: 30px;
    }

    label{
        margin: 2%;
        transition: 1s;
        padding: 1%;

    }

    a{
        text-decoration: none;
    }

    #panel {
        background-color: beige;
        text-align:center;
        padding-left: 15px;
        padding-right: 15px;
        padding-block: 20px;
        transition: 1s;
        border-color: dimgrey;
        border-width: 2px;
        border-style: solid;
    }

    nav:hover{
        transition: 2s;
        width: 70%;

    }

    label:hover{
        transition: 1s;
        font-size: 250%;
    }

    a:hover{
        color:darkslategrey;
    }

    #primercolor{
        background-color:rgb(203, 232, 241);
    }
    
    
    #segundocolor{
        background-color:rgb(241, 206, 211);
    }   

    #tercercolor{
        background-color:rgb(196, 209, 221);
    }

    #cuartocolor{
        background-color:rgb(178, 231, 178);
    }
 
    .centerimg{
        text-align: center;
    }

    .imgtext{
        width: 40%;
        box-shadow: 5px 5px 5px 0 rgba(255, 90, 90, 0.3);
        border-radius: 20px;
    }

    #imgpordos{
        width: 50%;
    }


    iframe{
        height: 400px;
        width: 500px;
        border: none;
        border-radius: 20px;
    }

    ol{
        background-color:lemonchiffon;
        width: 90%;
        padding-block: 20px;       
        border-color: black;
        border-width: 2px;
        border-style: solid; 
    }

    ul{
        background-color:lemonchiffon;
        width: 90%;
        padding-block: 20px;      
          

    }
    
    li{
        width: 80%;
        font-size: 90%; 
    }

    .border{
        border-color: black;
        border-width: 2px;
        border-style: solid;
    }

    #bordeartab{
        border-color: black;
        border-width: 2px;
        border-style: solid;
    }

    .lettabla{
        font-size:125%;
        text-align: center;
        padding-right: 10px;
    }

    .tabla{
        background-color:lightgrey;
        width: 40%;
        padding-left: 15px;
        padding-right: 15px;
        padding-block: 20px;
        font-size: 130%;
        border-radius: 20px;
    }
    
    .tabter{
        background-color:mintcream;
        font-size:130%;
        text-align: justify;
        width: 60%;
        margin: 0 auto;
        border-radius: 20px;        
    }

    .ultdis{
        background-color:bisque;
        text-align: center;
        border-radius: 20px;
    }

    .espaciado{
        clear: both;
    }